<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="UTF-8">
		
		<title>Mongo Scraper - San Jose Sharks!</title>

		<!-- jQuery Link -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

		<!-- Bootstrap Link -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

		<!-- CSS Link -->
		<link rel="stylesheet" href="./assets/css/style.css" type="text/css">

		<!-- Google Fonts Link -->
		<link href="https://fonts.googleapis.com/css?family=Codystar:300,400|Finger+Paint|Megrim|Raleway+Dots|Neuton" rel="stylesheet">

		<!-- Favicon -->
		<link rel="icon" href="./assets/images/shark-favicon.ico" type="image/gif" sizes="16x16">

	</head>

	<body id="gradient">

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <a href="/"><h1>Fear the Mongoose</h1></a>
        <h2>San Jose Sharks News Scraper</h2>
      </div>
			<div>
				<a href="/scrape"><button type="button" class="btn">Scrape New Articles</button></a>
				<a href="/saved"><button type="button" class="btn">See Saved Articles</button></a>
			</div>
    </div>

			{{{ body }}}

		<!-- Modal -->
		<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
				<div class="modal-content">

						<div class="modal-header">
								<h4 class="modal-title">
									<!-- JS Input only -->
								</h4>
										<button type="button" class="modalClose" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
										</button>
						</div>

						<div class="modal-body">		
							<!-- JS Input only -->
						</div>
				</div>
				</div>
		</div>
		<!-- End Modal -->
		
	</body>

    <!-- JS Reference -->
    <script type="text/javascript" src="./assets/javascript/app.js">
    </script>

</html>
