html, body {
  height: 100%;
  margin: 0px;
  color: #223941;
  font-family: 'Neuton', serif;
}

#gradient {
  min-height: 100%;
  background: #A1BFB0; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#D4E1DB, #A1BFB0, #556F65); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#D4E1DB, #A1BFB0, #556F65); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#D4E1DB, #A1BFB0, #556F65); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#b2e0d0,#7BCAAF, #349565); /* Standard syntax */
}

.jumbotron {
  /*font-family: 'Finger Paint', cursive;*/
  /*font-family: 'Raleway Dots', cursive;*/
  text-align: center;
  background-color: #192A30;
  color: #E2E1DF;
  border-bottom: #349565 3px solid;
}

h1 {
  font-family: 'Codystar', cursive;
  font-size: 90px;
}

h2 {
  font-family: 'Megrim', cursive;
  color: #d6d4d2;
}

h3 {
  text-align: center;
}

a, a:active, a:visited {
  text-decoration: none;
  color: #E2E1DF;
}

a:hover {
  text-decoration: none;
  color: #3C6573;
}